/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "TT Travels";
  font-weight: 500;
  src: url("../../assets/fonts/TTTravels-Medium.woff"), url("../../assets/fonts/TTTravels-Medium.woff2");
}
@font-face {
  font-family: "TT Travels";
  font-weight: 600;
  src: url("../../assets/fonts/TTTravels-DemiBold.woff"), url("../../assets/fonts/TTTravels-DemiBold.woff2");
}
@font-face {
  font-family: "TT Travels";
  font-weight: 700;
  src: url("../../assets/fonts/TTTravels-Bold.woff"), url("../../assets/fonts/TTTravels-Bold.woff2");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  src: url("../../assets/fonts/HelveticaNeueCyr-Roman.woff"), url("../../assets/fonts/HelveticaNeueCyr-Roman.woff2");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 500;
  src: url("../../assets/fonts/HelveticaNeueCyr-Medium.woff"), url("../../assets/fonts/HelveticaNeueCyr-Medium.woff2");
}
.hero-section {
  margin-top: 65px;
}
.hero-section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-section__title {
  margin-top: 1rem;
  text-wrap: wrap;
  text-align: center;
  font-family: "TT Travels";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3px;
  max-width: 920px;
}
.hero-section__subtitle p {
  margin-top: 24px;
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.24px;
  position: relative;
}
.hero-section .subtitle-border {
  position: absolute;
}
.hero-section .img-block {
  margin-top: 50px;
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-size: 100%, cover;
  min-height: 805px;
  position: relative;
  background-size: auto;
  background-position: center center;
}
.hero-section .img-block__queues {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.hero-section .img-block__queue {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  padding: 5px 13px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "TT Travels";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: #fff;
}
.hero-section .img-block__queue .text-green {
  color: #a0a747;
  font-size: inherit;
}
.hero-section .winner {
  display: flex;
  padding: 16px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  z-index: 10;
  right: 20px;
  top: -20px;
}
.hero-section .winner__text {
  text-align: center;
  font-family: "TT Travels";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.64px;
  max-width: 170px;
}

.gallery {
  margin-top: 80px;
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
}
.gallery .card1 {
  background-image: var(--bg-url1);
  background-repeat: no-repeat;
  background-size: 100%, cover;
  height: 320px;
  border-radius: 12px;
  position: relative;
}
.gallery .card2 {
  background-image: var(--bg-url2);
  background-repeat: no-repeat;
  background-size: 100%, cover;
  height: 320px;
  border-radius: 12px;
  position: relative;
}
.gallery .card3 {
  background-image: var(--bg-url3);
  background-repeat: no-repeat;
  background-size: 100%, cover;
  height: 320px;
  border-radius: 12px;
  position: relative;
}
.gallery .card4 {
  background-image: var(--bg-url4);
  background-repeat: no-repeat;
  background-size: 100%, cover;
  height: 320px;
  border-radius: 12px;
  position: relative;
}
.gallery .card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 3px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
}
.gallery .card-info__text {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  padding: 6px 10px;
  align-items: flex-start;
  gap: 10px;
}
.gallery .card-info__text-big {
  font-family: "TT Travels";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.56px;
}
.gallery .card-info__text-small {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.header__text {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 155px;
  color: #646562;
}
.header__right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 4px;
}
.header__tel {
  color: #1a1a1a;
  font-family: "TT Travels";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.32px;
  border-bottom: 1px solid rgba(26, 26, 26, 0.1);
}
.header__status {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
  color: #a0a747;
  font-family: "Helvetica Neue";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.32px;
}
.header__status::before {
  content: "";
  display: block;
  width: 4px;
  border-radius: 10px;
  height: 4px;
  background-color: #a0a747;
}

.container-big {
  max-width: 1800px;
  padding: 20px 60px 0;
  margin: 0 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

body {
  background-color: #faf8f5;
}