@font-face {
	font-family: 'TT Travels';
	font-weight: 500;
	src: url('../../assets/fonts/TTTravels-Medium.woff'),
		url('../../assets/fonts/TTTravels-Medium.woff2');
}

@font-face {
	font-family: 'TT Travels';
	font-weight: 600;
	src: url('../../assets/fonts/TTTravels-DemiBold.woff'),
		url('../../assets/fonts/TTTravels-DemiBold.woff2');
}

@font-face {
	font-family: 'TT Travels';
	font-weight: 700;
	src: url('../../assets/fonts/TTTravels-Bold.woff'),
		url('../../assets/fonts/TTTravels-Bold.woff2');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 400;
	src: url('../../assets/fonts/HelveticaNeueCyr-Roman.woff'),
		url('../../assets/fonts/HelveticaNeueCyr-Roman.woff2');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-weight: 500;
	src: url('../../assets/fonts/HelveticaNeueCyr-Medium.woff'),
		url('../../assets/fonts/HelveticaNeueCyr-Medium.woff2');
}
